/*Edited_GC*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*Competiton Specific Navbar */

.top-bar,
.top-bar ul {
    background-color: #ffffff;
}

ul {
    margin-bottom: 0%;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid #E4E4E4;
    box-shadow: #ccc;
}

div.scrollmenu li {
    display: inline;
}

div.scrollmenu a {
    display: inline-block;
    overflow: auto;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu::-webkit-scrollbar {
    display: none;
}

div.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav div ul li a:active {
    text-decoration: underline;
    text-decoration-color: #ffc40c;
    text-decoration-thickness: 2px;
}

/*General tags */

main h1 {
    color: #222222;

}

.input-text {
    border-radius: 18px;
}

.butt-main {
    color: #222222;
    background-color: #FFC40C;
}

.butt-second {
    color: black;
    background-color: white;
}

.butt {
    padding: 20px;
    margin: 0% 5% 0% 5%;
    width: 200px;
    height: 60px;
    left: 280px;
    top: 889px;
    border-radius: 30px;
}

input.butt {
    margin: 2% 2%;
    max-height: 60px;
    min-height: 60px;
    padding: 0;
}

/*Login Page AS*/

.float-center {
    text-align: center;
}

section.reg-cta {
    margin: 35px 0px 50px 0;
    padding: 1%;
}

#login-title {
    text-align: center;
}

/*Publish Post Form AS*/

form>textarea {
    border-radius: 18px;
}

div.form-buttons {
    text-align: center;

}

/* Search bar tools */
.search-section {
    margin: 2%;
    padding: 2%;
}

article {
    background-color: #F4F4F4;
    margin: 16px 0;
    padding: 4%;
    border-radius: 16px;
}

.search-bar-tools {
    /* background-color: antiquewhite;
    border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.search-icon {
    display: flex;
    align-items: center;
}

/* Preview cards */
.preview-card {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.preview-card p {
    margin-right: 2%;
}

.card-info p {
    display: inline;
    margin: 1% 2% 1% 0%;
}

a {
    text-decoration: none;
    color: black;
}

section div p a {
    margin: 24px 0;
    display: flex;
    justify-content: right;
}

/* Search-Bar_GC */
.searchbar {
    border-radius: 64px;
    height: 40px;
    padding: 2%;
}

/* Button_GC */
.button {
    border-radius: 128px;
    height: 40px;
    width: 40px;
    color: #F4F4F4;
    background-color: #EDEDED;
}

/* headings_GC */
h1 {
    color: #222222;
    font-size: 42px;
    font-weight: 700;
    margin: 16px 0;
}


h2 {
    margin: 16px 0;
    font-weight: 600;
    color: #222222;
    font-size: 24px;
}

article h2 {
    font-weight: 600;
    color: #222222;
    font-size: 24px;
}

h3 {
    font-weight: 300;
    color: #222222;
}


h5 {
    font-size: medium;
    font-weight: 200;
}

p {
    color: #444444;
    font-size: 16px;
}

button img {
    width: 16px;
    height: 16px;
    align: center;
}

/* Thread code prasanna */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.indent {
    margin-left: 3.5%;
    /* Adjust the value as needed */
    margin-right: 0%;
    min-width: 95%;
}

.reply-card {
    max-width: 100%;
    overflow: hidden;
}

.button-container {
    display: flex;
}

.like-button,
.reply-button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.like-button:hover .material-symbols-outlined,
.reply-button:hover .material-symbols-outlined {
    color: blue;
}

.like-button span,
.reply-button span {
    color: black;
}

.material-symbols-outlined {
    font-size: 1.5rem;
    color: black;
}

.disclosure-button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.disclosure-button:hover {
    background-color: #ebebeb;
}

/* Edited*/
/*Footer styling starts here */

.footer1 {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 6% 2% 4%;
    color: #ffffff;
}

.footer1 li {
    display: inline;
    justify-content: space-between;
    color: #ffffff;

}

.footer2 {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2% 4%;
}

.footer2 h5 {
    max-width: 40%;
    color: #ffffff;
}

.footer2 li {
    display: block;
    margin: 1% 2%;
    color: #ffffff;
}

.footer2 a {
    display: block;
    margin: 1% 2%;
    color: #ffffff;
    font-size: 12px;
}

/* Aside Social_GC */

aside article {
    margin: 64px 0 16px;
    border-radius: 16px;
    padding: 16px;
}

aside article div {
    display: flex;
    justify-content: space-between;
}

article section img {
    margin: 16px 0;
    border-radius: 16px;
}

/* aside-ends-here_GC*/

@media (max-width: 600px) {

    #char-home {
        display: none;
    }

    .aside {
        display: none;
    }

    div.form-buttons {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    div.form-buttons>.butt {
        width: 100%;
        flex-basis: 100%;
    }

    input.butt {
        margin: 1%;
        max-height: 40px;
        min-height: 40px;
        padding: 0;
    }

}

@media (min-width: 600px) and (max-width: 1020px) {

    #char-home-a {
        display: none;
    }

    .aside {
        display: none;
    }

    input.butt {
        margin: 2% 2%;
        max-height: 40px;
        min-height: 40px;
        padding: 0;
    }

}

@media (min-width: 1000px) {

    div.form-buttons {
        text-align: left;
    }


}